body {
  font-family: "Titillium Web", sans-serif;
}

.post-full {
	padding-left 20px;
}

.readmore  {
	float: right;
}

.page-header {
	margin-top: 100px;
}

#slide1 {
	background-image: url('../images/bg1.jpg');
	width: 100%;
	height: 100%;
	color: white;
}

#slide1 .index-row {
	margin: 100px 0px;
	font-size: 16px
}

#slide2 {
	padding: 100px 20px;
	background-color: #1abc9c;
	color: white;
}

#slide2 a {
	color: #5f5f5f;
}

footer {
	padding: 100px 0px;
	background-color: #2f2f2f;
	color: white;
}

footer a {
	color: #5f5f5f;
}